@charset "UTF-8";

/* Importação Lato (Google Fonts) */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

/* Importação Gravidaz (arquivo baixado) */
@font-face {
  font-family: Gravidaz;
  src: url(../assets/fonts/Gravidaz.otf) format("opentype");
  font-weight: normal;
}

/* Variáveis */
:root {
  /* PALETA DE CORES */
  /* Tema colorido */
  --cor01: #2b3a67;
  --cor02: #004569;
  --cor03: #004c5d;
  --cor04: #00504a;
  --cor05: #285238;
  /* Tema claro */
  --cor06: #f2f2f2;
  --cor07: #ededed;
  --cor08: #e9e7e7;
  --cor09: #e3e2e1;
  --cor10: #dddddb;
  --cor-letra-preta: #0e0e0e;
  /* Tema escuro */
  --cor11: #1c1c1c;
  --cor12: #292929;
  --cor13: #373737;
  --cor14: #464646;
  --cor15: #555555;
  --cor-letra-branca: #d9d9d9;

  /* Gradientes */
  --gradiente-colorido: var(--cor01), var(--cor02), var(--cor03), var(--cor04), var(--cor05);
  --gradiente-claro: var(--cor06), var(--cor07), var(--cor08), var(--cor09), var(--cor10);
  --gradiente-escuro: var(--cor11), var(--cor12), var(--cor13), var(--cor14), var(--cor15);

  /* CORES TRANSPARENTES */
  --fundo-solido: var(--cor10);
  --fundo-transparente-branco: #ededed80;
  --fundo-transparente-preto: #1c1c1c;
  --fundo-transparente: var(--fundo-transparente-branco);

  /* CORES EM USO */
  --cor-texto: var(--cor-letra-preta);
  --cor-titulo-01: var(--cor01);
  --cor-titulo-02: var(--cor05);

  /* FONTES */
  --fonte-titulos: "Gravidaz", "Lato", sans-serif;
  --fonte-texto: "Lato", Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--fonte-texto);
}

body {
  background-color: var(--cor11);
  /* height: 100vh; */
  /* width: 100vw; */
}

/* Cabeçalho */
header {
  background-color: var(--fundo-solido);

  padding: 18px 7px 7px 7px;
}
/* Texto no header */
header > h1,
header > p {
  font-family: var(--fonte-titulos);
  text-align: center;
  /* Gradiente-texto */
  background-image: linear-gradient(to right, var(--gradiente-colorido));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
/* Título no header */
header > h1 {
  font-size: 3.2em;
  font-weight: 500;
}
/* Slogan no header */
header > p {
  /* color: black; */
  font-size: 0.9em;
  font-weight: 600;

  padding: 5px 10px 7px 10px;
}
/* PAINEL LATERAL (no mobile) ou embaixo do header */
aside#painel {
  display: flex;
  flex-direction: column; /*Empinhar em coluna*/
  position: fixed;
  align-items: center;
  top: 160px;
  right: 0;
  width: 50px;
  padding: 4px 0;

  border-radius: 10px 0 0 10px;

  background-color: var(--fundo-transparente-branco);
  backdrop-filter: blur(10px);
}
aside#painel > button {
  display: inline-flexbox;
  margin: auto;
  border: none;
  background-color: transparent;
}
aside#painel > button > i {
  /* Ícones dos botões do painel */
  font-size: 3em;
  padding: 2px;

  /* Gradiente */
  background-image: linear-gradient(to right, var(--gradiente-colorido));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Ocultar nav e botão de fechar */
i#botao-nav-fechar,
nav {
  display: none;
}

/* NAV BAR */
nav {
  display: none;
  position: fixed;
  z-index: 100; /*Não ser sobreposto por outros elementos*/
  left: 3.5vw;
  width: 80vw;
  margin: auto;
  padding: 5px;

  background-color: var(--fundo-transparente);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}
nav > ul > li {
  min-height: 2em;
  margin: 10px;
  background-color: var(--cor11);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  list-style-type: none; /*Tirar polinha de marcação*/

  font-size: 0.9em;
  text-transform: uppercase;

  transition: 2s;

  /* Centralizar texto verticalmente */
  display: flex;
  justify-content: center;
  align-items: center;
}
nav > ul > li > a {
  /* Texto dos links */
  height: 100%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: var(--cor-letra-branca);
}
nav > ul > li:hover {
  /* Ao passar mouse em cima do li do nav */
  background-image: linear-gradient(to right, var(--gradiente-colorido));
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
  transition: 2s;
}

/* CONTEÚDO PRINCIPAL */
main {
  /* Sombra no header */
  box-shadow: inset 0 5px 4px 0 rgba(0, 0, 0, 0.5);
}

/* Div com imagens de fundo */
.imagem-fundo {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.imagem-fundo > section,
.imagem-fundo > aside,
.imagem-fundo > article {
  background-color: var(--fundo-transparente);
  backdrop-filter: blur(10px);

  padding: 12px;
  margin: 20px;
  border-radius: 10px;
}
.imagem-fundo p {
  color: var(--cor-letra-preta);
}

/* Todo paragrafo no texto */
p {
  text-align: justify;
  font-size: 1em;
}

/* RODAPÉ */
footer {
  background-color: var(--cor11);
  border-radius: 20px 20px 0 0;
  padding: 20px;

  margin-top: -15px;
  box-shadow: 0 -5px 6px 0 rgba(0, 0, 0, 0.5);
}
footer p,
footer a {
  color: white;
  text-align: center;
  font-size: 1em;
}
footer p {
  margin-bottom: 10px;
}
footer a {
  text-decoration: none;
  font-weight: bold;
}
